/* SearchBar.css */

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
}

.input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

.voice-button, .send-button {
    width: 36px; /* 버튼 크기 */
    height: 36px;
    border: none;
    background-color: #ffffff; /* 버튼 배경색 */
    border-radius: 50%; /* 동그랗게 */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: background-color 0.3s;
}

.voice-button {
    background-image: url('/images/mic-icon.png');
    background-repeat: no-repeat;
    background-size: 20px 20px; /* 아이콘 크기 */
    background-position: center; /* 아이콘 중앙 정렬 */
    margin: 5px;
}

.send-button {
    background-image: url('/images/white_search_icon.png');
    background-repeat: no-repeat;
    background-size: 20px 20px; /* 아이콘 크기 */
    background-position: center; /* 아이콘 중앙 정렬 */
    margin: 5px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    background-color: #0066ff;
    color: #ffffff;
    cursor: pointer;
}

.voice-button:hover{
    background-color: rgba(240, 240, 240, 0.78); /* 호버 시 배경색 변경 */
}

.send-button:hover {
    background-color: #005bb5;
}
