/* HomePage.css: HomePage 컴포넌트 스타일 */

.App {
    text-align: center;
    background-color: #f0f0f0; /* 배경색 */
    height: 100vh; /* 전체 높이 */
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.chat-container {
    width: 90%;
    max-width: 600px; /* 최대 너비 설정 */
    background-color: #000000; /* 채팅 배경색 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
    overflow: hidden; /* 내용 넘침 방지 */
}

.chat-window {
    padding: 20px;
    height: 400px; /* 고정된 높이 */
    overflow-y: auto; /* 세로 스크롤 */
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    background-color: #282c34; /* 메시지 배경색 */
    border-radius: 5px; /* 메시지 박스 둥근 모서리 */
    margin: 5px 0;
    padding: 10px;
    max-width: 80%; /* 메시지 박스 최대 너비 */
    align-self: flex-start; /* 왼쪽 정렬 */
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #282c34; /* 입력창 배경색 */
}

.input {
    flex: 1; /* 입력창이 가능한 공간을 차지 */
    padding: 10px;
    border: none;
    border-radius: 4px; /* 입력창 둥근 모서리 */
    margin-right: 10px;
}

.send-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px; /* 버튼 둥근 모서리 */
    background-color: #61dafb; /* 버튼 배경색 */
    color: #282c34; /* 버튼 글자색 */
    cursor: pointer; /* 커서 포인터 */
}
